<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration, Version=2.5.2.830, Culture=neutral, PublicKeyToken=17863af14b0044da" />
	</configSections>

	<autofac>
		<modules>
			<module type="TestSOA.OrderManagement.Infrastructure.AutofacModule, TestSOA.OrderManagement.Infrastructure" />
			<module type="TestSOA.OrderManagement.DataAccess.AutofacModule, TestSOA.OrderManagement.DataAccess" />
			<module type="TestSOA.OrderManagement.DomainModel.AutofacModule, TestSOA.OrderManagement.DomainModel" />
			<module type="TestSOA.OrderManagement.Services.AutofacModule, TestSOA.OrderManagement.Services" />
		</modules>
	</autofac>

</configuration>
