<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="ShelfConfiguration" type="Topshelf.Shelving.ShelfConfiguration, TopShelf" />
		<section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
		<section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
		<section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
		<section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
	</configSections>

	<ShelfConfiguration Bootstrapper="TestSOA.ServiceModel.ServiceBootstrapper, TestSOA.ServiceModel" />

	<Logging Threshold="DEBUG" />

	<UnicastBusConfig ForwardReceivedMessagesTo="audit">
		<MessageEndpointMappings>
			<add Messages="TestSOA.OrderManagement.Messages" Endpoint="OrderManagement" />
			<!--<add Messages="TestSOA.PortfolioManagement.Messages" Endpoint="PortfolioManagement" />
			<add Messages="TestSOA.ReferenceData.Messages" Endpoint="ReferenceData" />-->
		</MessageEndpointMappings>
	</UnicastBusConfig>

	<MsmqTransportConfig NumberOfWorkerThreads="4" MaxRetries="5" ErrorQueue="error" />

	<MessageForwardingInCaseOfFaultConfig ErrorQueue="error"/>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="b32731d11ce58905" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.2.9.0" />
				<codeBase version="1.2.9.0" href="log4net/1.2.9.0/log4net.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.2.10.0" />
				<codeBase version="1.2.10.0" href="log4net/1.2.10.0/log4net.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.2.11.0" />
				<codeBase version="1.2.11.0" href="log4net/1.2.11.0/log4net.dll"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>
