<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration, Version=2.5.2.830, Culture=neutral, PublicKeyToken=17863af14b0044da" />
	</configSections>

	<autofac>
		<modules>
			<module type="TestSOA.PortfolioManagement.DataAccess.AutofacModule, TestSOA.PortfolioManagement.DataAccess" />
			<module type="TestSOA.PortfolioManagement.DomainModel.AutofacModule, TestSOA.PortfolioManagement.DomainModel" />
			<module type="TestSOA.PortfolioManagement.Services.AutofacModule, TestSOA.PortfolioManagement.Services" />
		</modules>
	</autofac>

</configuration>
